/* style.css */
.container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    background-color: #66A5AD;
}

.registration-form, .signin-form {
    width: 35%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color:  #C4DFE6;
}

.registration-form h2, .signin-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #040404;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #ac4b4b;
}

.form-group input[type="text"],
.form-group input[type="tel"],
.form-group input[type="select"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #1da573;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #3db364;
}

#reg-message, #sign-message {
    text-align: center;
    margin-top: 20px;
}

#error {
    color: #ff0000;
}

#success {
    color: #008000;
}
